{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}History{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th class="border-2 p-1 pl-2 pr-2">Video id</th>
            <th class="border-2 p-1 pl-2 pr-2">Date watched</th>
        </tr>
        {% for video in videos %}
            <tr class="mt-1">
                <td class="border-2 p-1 pl-2 pr-2">
                    <a href="{{ url_for('video', id=video.videoId) }}">{{video.videoId}}</a> 
                </td>
                <td class="border-2 p-1 pl-2 pr-2">
                    {{video.watched}}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
